{% extends 'master.html' %}


{% block content %}
    <section class="blog welcome" id="blog" style="background-color: #333; height: 745px;">
		<h1 class="heading" style="color: #cdaa7c;">latest news</h1>
		<center><h3 class="sub-heading"> ~ Our Stories ~ </h3></center>

		<div class="box-container">
			<div class="box">
				<div class="image">
					<img src="../static/Img3.avif">
				</div>

				<div class="content">
					<h3>PROFESSIONAL LEVEL</h3>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus explicabo ipsam delectus assumenda neque modi molestias quo asperiores officia in, earum nam nesciunt rem libero aspernatur hic dolorum error alias?</p>
				</div>
			</div>

			<div class="box">
				<div class="image">
					<img src="../static/Img1.avif">
				</div>

				<div class="content">
					<h3>BEST CARE GUARANTEED</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum deleniti voluptatum debitis animi? Quisquam perspiciatis corrupti atque quibusdam assumenda nihil eos voluptatum veritatis et nesciunt. Ad omnis vitae ducimus quos.</p>
				</div>
			</div>

			<div class="box">
				<div class="image">
					<img src="../static/Img2.avif">
				</div>

				<div class="content">
					<h3>OFFERS</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet exercitationem est voluptatum corrupti omnis aliquid eum obcaecati quaerat deserunt doloribus! Accusantium quis odio ea aliquam rem perspiciatis distinctio adipisci totam!</p>
				</div>
			</div>

		</div>
	</section>
</body>
{% endblock %}