{% extends 'master.html' %}


{% block content %}
    <div class="team">

    <h1>Our<span>Team</span></h1>

    <div class="team_line_1"></div>
    <div class="team_line_2"></div>

    <div class="team_box">

        <div class="team_card">

            <div class="team_img">
                <img src="../static/picture.webp">
            </div>

            <div class="team_tag">

                <h2>Sammy Britto</h2>
                <p class="job">Artist</p>
                <p class="info">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Accusantium cupiditate deserunt odio in fugiat dolore! 
                    Veniam sit quod iusto quas eligendi. Natus numquam 
                    aspernatur alias illo voluptates dolorem, id ad.
                </p>

            </div>

        </div>

        <div class="team_card">

            <div class="team_img">
                <img src="../static/picture.webp">
            </div>

            <div class="team_tag">

                <h2>Sammy Britto</h2>
                <p class="job">Artist</p>
                <p class="info">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Accusantium cupiditate deserunt odio in fugiat dolore! 
                    Veniam sit quod iusto quas eligendi. Natus numquam 
                    aspernatur alias illo voluptates dolorem, id ad.
                </p>

            </div>

        </div>

        <div class="team_card">

            <div class="team_img">
                <img src="../static/picture.webp">
            </div>

            <div class="team_tag">

                <h2>Sammy Britto</h2>
                <p class="job">Artist</p>
                <p class="info">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Accusantium cupiditate deserunt odio in fugiat dolore! 
                    Veniam sit quod iusto quas eligendi. Natus numquam 
                    aspernatur alias illo voluptates dolorem, id ad.
                </p>

            </div>

        </div>

        <div class="team_card">

            <div class="team_img">
                <img src="../static/picture.webp">
            </div>

            <div class="team_tag">

                <h2>Sammy Britto</h2>
                <p class="job">Artist</p>
                <p class="info">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Accusantium cupiditate deserunt odio in fugiat dolore! 
                    Veniam sit quod iusto quas eligendi. Natus numquam 
                    aspernatur alias illo voluptates dolorem, id ad.
                </p>

            </div>

        </div>

    </div>

</div>
{% endblock %}